<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/memory/create-memory">Create Memory</a></li>
      <li><a href="/404">404</a></li>
    </ul>
    <h1>Create a new memory!</h1>
    <form action="/memory/create-memory" method="POST">
      <label for="cityName">City name</label>
      <input type="text" id="cityName" name="cityName" />
      <label for="imageURL">Image URL</label>
      <input type="text" id="imageURL" name="imageURL" />
      <button type="submit">Create Memory</button>
    </form>
  </body>
</html>
